body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  align-items : center;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/back_2.jpg');
  background-attachment: fixed;
}

a {
  color: #00B7FF;
  font-weight: 800;
}

nav a {
  color: white;
  font-size: 1rem;
}

nav a:hover {
  color: #00B7FF;
}

.container {
  border-radius: 15px;
  background-color: rgb(252, 239, 192);
  width: 90vw;
}

.table {
  border-radius: 15px;
}

#header {
  color: white;
  font-size: 3.5rem;
}